@page
@model MovieReviewer.Pages.Admins.Actors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Detail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Actor.ActorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
