@page
@using MovieReviewer.Logic;
@using MovieReviewer.Models;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@model MovieReviewer.Pages.Movies.DetailModel
@{
}
<style>
    .fillcolor {
        color: red;
    }

    .removecolor {
        color: black;
    }
    /* hide the radio buttons */
    .star-rating input[type="radio"] {
        display: none;
    }

    /* style the star icons */
    .star-rating label {
        display: inline-block;
        margin: 0 2px;
        font-size: 24px;
        color: #ccc;
        cursor: pointer;
    }

    /* highlight the stars when the corresponding radio button is checked */
    .star-rating input[type="radio"]:checked + label,
    .star-rating input[type="radio"]:checked + label ~ label {
        color: #f9bf3b;
    }

    /* make the stars hoverable */
    .star-rating label:hover {
        color: #f9bf3b;
    }

    /* reverse the order of the stars */
    .star-rating {
        direction: rtl;
    }

</style>
<div margine="max-width:80%; margin:0 auto">
    <h3>Movie Detail</h3>
    <div class="row">
        <div class="col-md-3" style="height:350px">
            <img style="height:350px;width:247px; object-fit: contain" src="@Model.Movie.Poster" alt="">
        </div>
        <div class=" col-md-9">
            <div class="row">
                <h3 class="col-md-10">@Model.Movie.MovieName</h3>
                <input type="hidden" value="@Model.Movie.MovieId" id="mid" />

                @{
                    //var setting = new JsonSerializerSettings();
                    //setting.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
                    //string json = Context.Session.GetString("user");
                    string json = HttpContext.Session.GetString("user");
                    //string json1 = Context.Session.GetString("user");
                    User user = null;
                    if (json != null)
                    {
                        user = JsonConvert.DeserializeObject<User>(json);
                    }
                    bool checkLove = false;
                    if (user != null)
                    {
                        checkLove = MovieLogic.CheckLoveMovie(user.Id, Model.Movie.MovieId);
                    }
                }
                @if (user != null)
                {
                    <input type="hidden" value="1" id="user" />
                }
                else
                {
                    <input type="hidden" value="0" id="user" />
                }
                <svg class="col-md-2
                @{
                            if(checkLove)
                                        @Html.Raw("fillcolor")
                            else{
                                            @Html.Raw("removecolor")
                            }
                }
" id="heart"
                     onclick="AddFavourite()"
                     xmlns="http://www.w3.org/2000/svg"
                     width="30"
                     height="30"
                     fill="currentColor"
                     class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
            </div>

            @*<div><span style="font-weight:600">Diễn viên:</span> @Model.Actor</div>*@
            @*    <div>
            <span style="font-weight:600">Thể loại: </span>@{

            for (var i = 0; i < @Model.GenreMovies.Count; i++)
            {
            for (var j = 0; j < ViewBag.ListGenres.Count; j++)
            {
            if (i == j)
            {
            @(ViewBag.ListGenres[j].GenreName + ", ")
            }
            }
            }

            }
            </div>*@

            <div><span style="font-weight:600">Duration:</span> @Model.Movie.Duration minutes</div>
            <div><span style="font-weight:600">Original Language:</span> @Model.Movie.OriginalLanguage</div>
            <div><span style="font-weight:600">Description:</span> @Model.Movie.Description</div>
            <form asp-page-handler="Rate" method="post">
                <input type="hidden" value="@Model.Movie.MovieId" name="movieId" />
                <div class="star-widget">
                    <div class="star-rating">
                        @{
                            if (Model.Rate != null)
                            {
                                <input type="radio" id="star5" name="rating" value="5" checked="@(Model.Rate.RateStar == 5)" />
                                <label for="star5">☆</label>
                                <input type="radio" id="star4" name="rating" value="4" checked="@(Model.Rate.RateStar == 4)" />
                                <label for="star4">☆</label>
                                <input type="radio" id="star3" name="rating" value="3" checked="@(Model.Rate.RateStar == 3)" />
                                <label for="star3">☆</label>
                                <input type="radio" id="star2" name="rating" value="2" checked="@(Model.Rate.RateStar == 2)" />
                                <label for="star2">☆</label>
                                <input type="radio" id="star1" name="rating" value="1" checked="@(Model.Rate.RateStar == 1)" />
                                <label for="star1">☆</label>
                            }
                            else
                            {
                                <input type="radio" id="star5" name="rating" value="5"  />
                                <label for="star5">☆</label>
                                <input type="radio" id="star4" name="rating" value="4"  />
                                <label for="star4">☆</label>
                                <input type="radio" id="star3" name="rating" value="3"  />
                                <label for="star3">☆</label>
                                <input type="radio" id="star2" name="rating" value="2"  />
                                <label for="star2">☆</label>
                                <input type="radio" id="star1" name="rating" value="1"  />
                                <label for="star1">☆</label>
                            }
                        }

                    </div>
                    @{
                        if (Model.Rate!=null)
                        {
                            <div class="textarea form-group" style="margin-bottom: 20px; margin-top: 20px">
                                <textarea class="form-control" style="width: 100%;" cols="30" placeholder="Describe your experience.." name="contentRate">@Model.Rate.RateContent </textarea>
                            </div>
                        }
                        else
                        {
                            <div class="textarea form-group" style="margin-bottom: 20px; margin-top: 20px">
                                <textarea class="form-control" style="width: 100%;" cols="30" placeholder="Describe your experience.." name="contentRate"> </textarea>
                            </div>
                        }
                    }
                </div>
                <button type="submit" class="button button-lg button--primary w-20">
                    Rate
                </button>

            </form>

        </div>
    </div>
    <iframe style="margin:30px 30px" width="560" height="315" src="https://www.youtube.com/embed/@Model.Movie.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script>
    function AddFavourite() {
        var uid = $('#user').val();
        if (uid === '0') {
            window.location.href = '/Users/Login';
        }
        var mid = $('#mid').val();
        $.ajax({
            url: "/Movies/Detail?handler=Favourite&id=" + mid,
            type: "get",
            data: {
            },
            success: function () {
                $("#heart").toggleClass("fillcolor");
            },
            error: function () {
                $("#heart").toggleClass("removecolor");
            }
        });
    }
</script>
