@page
@model MovieReviewer.Pages.Admins.Movies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Trailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Trailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Poster)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.OriginalLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.OriginalLanguage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.DateCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.DateCreate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movie.MovieId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
