@page
@model MovieReviewer.Pages.Admins.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.MovieId" />
            <div class="form-group">
                <label asp-for="Movie.MovieName" class="control-label"></label>
                <input asp-for="Movie.MovieName" class="form-control" />
                <span asp-validation-for="Movie.MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Trailer" class="control-label"></label>
                <input asp-for="Movie.Trailer" class="form-control" />
                <span asp-validation-for="Movie.Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Poster" class="control-label"></label>
                <input asp-for="Movie.Poster" class="form-control" />
                <span asp-validation-for="Movie.Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration" class="control-label"></label>
                <input asp-for="Movie.Duration" class="form-control" />
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.OriginalLanguage" class="control-label"></label>
                <input asp-for="Movie.OriginalLanguage" class="form-control" />
                <span asp-validation-for="Movie.OriginalLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Genres</label>
                <select title="Choose a genre" name="genres" class="form-control select2 js-example-basic-single" multiple="multiple" required>
                    @foreach (var genre in Model.Genres)
                    {
                        foreach (var g in Model.Movie.Genres)
                        {
                            if (g.GenreId == @genre.GenreId)
                            {
                                <option value="@genre.GenreId" selected>@genre.GenreName</option>
                            }
                            else if (g.GenreId != @genre.GenreId)
                            {
                                <option value="@genre.GenreId">@genre.GenreName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Actors</label>
                <select title="Choose a actor" name="actors" class="form-control select2 js-example-basic-single" multiple="multiple" required>
                    @foreach (var actor in Model.Actors)
                    {
                        foreach (var g in Model.Movie.Actors)
                        {
                            if (g.ActorId == @actor.ActorId)
                            {
                                <option value="@actor.ActorId" selected>@actor.Name</option>
                            }
                            else
                            {
                                <option value="@actor.ActorId">@actor.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
